@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  background-color: #efeab8c8;
  font-size: 16px;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

@layer components {
  .col-center {
    @apply flex flex-col;
    @apply items-center justify-center;
  }

  .bottomsheet-container {
    @apply w-full h-full fixed flex justify-center z-[1000] left-0 top-0;
  }

  .bottomsheet-wrapper {
    @apply max-w-5xl relative w-full h-full flex justify-center;
  }

  .login-btn {
    @apply border-none bg-white w-full justify-center;
  }

  .kakao {
    @apply text-yellow-500;
  }

  .naver {
    @apply text-green-600;
  }

  .google {
    @apply text-gray-600;
  }
}
