@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  background-color: #efeab8c8;
  font-size: 16px;
  height: 100%;
  overflow-y: hidden;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}
